{% extends 'base.html.twig' %}

{% block title %}Jobs{% endblock %}

{% block body %}
<h1>Jobs</h1>

{% for job in jobs %}
    <div class="job">
        {{ job.getJobId() }}
        {{ job.getTitle() }}
    </div>
{% endfor %}

{% endblock %}
