{% extends 'base.html.twig' %}

{% block title %}Jobs{% endblock %}

{% block body %}
<h1>Jobs</h1>

{% for job in jobs %}
    <div class="job">
        {{ job.getJobId() }}
        {{ job.getTitle() }}
    </div>
{% endfor %}

{% if (params.page > 1) %}
    <a href="{{ path('jobs', {'page': params.page - 1}) }}">Previous</a>
{% endif %}

{% if (jobs.getMeta().getEntriesTo() < jobs.getMeta().getEntriesTotal()) %}
    <a href="{{ path('jobs', {'page': params.page + 1}) }}">Next</a>
{% endif %}

{% endblock %}
